WIFI_SSID=Wokwi-GUEST
WIFI_PASSWORD=

MQTT_BROKER_ADDRESS=broker.example.com
MQTT_USER=user
MQTT_PASSWORD=password
MQTT_CLIENT_ID=esp32-greenhouse-01
DEVICE_ID=esp32-greenhouse-01

NTP_SERVER_1=pool.ntp.org
NTP_SERVER_2=time.google.com
NTP_SYNC_INTERVAL_MIN=360
